$darkmode: True;
$transparent: False;
$glass: #ffffff1a;
$primary_paletteKeyColor: #192830;
$secondary_paletteKeyColor: #4D616C;
$tertiary_paletteKeyColor: #5F5A7D;
$neutral_paletteKeyColor: #6D797D;
$neutral_variant_paletteKeyColor: #6A7A7F;
$background: #0F1417;
$onBackground: #DFE3E7;
$surface: #0F1417;
$surfaceDim: #0F1417;
$surfaceBright: #353A3D;
$surfaceContainerLowest: #0A0F12;
$surfaceContainerLow: #171C1F;
$surfaceContainer: #1B2023;
$surfaceContainerHigh: #262B2E;
$surfaceContainerHighest: #313539;
$onSurface: #DFE3E7;
$surfaceVariant: #40484C;
$onSurfaceVariant: #C0C7CD;
$inverseSurface: #DFE3E7;
$inverseOnSurface: #2C3134;
$outline: #8A9297;
$outlineVariant: #40484C;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #8DCFF2;
$primary: #8DCFF2;
$onPrimary: #003548;
$primaryContainer: #004D67;
$onPrimaryContainer: #C1E8FF;
$inversePrimary: #186584;
$secondary: #B5CAD7;
$onSecondary: #1F333D;
$secondaryContainer: #364954;
$onSecondaryContainer: #D1E6F3;
$tertiary: #C8C2EA;
$onTertiary: #302C4C;
$tertiaryContainer: #474364;
$onTertiaryContainer: #E5DEFF;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #C1E8FF;
$primaryFixedDim: #8DCFF2;
$onPrimaryFixed: #001E2B;
$onPrimaryFixedVariant: #004D67;
$secondaryFixed: #D1E6F3;
$secondaryFixedDim: #B5CAD7;
$onSecondaryFixed: #091E27;
$onSecondaryFixedVariant: #364954;
$tertiaryFixed: #E5DEFF;
$tertiaryFixedDim: #C8C2EA;
$onTertiaryFixed: #1B1736;
$onTertiaryFixedVariant: #474364;
